# Logs y archivos de registro
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos temporales o de respaldo
*.tmp
*.bak
*.bk
*.swp
*~

# Sistema operativo
Thumbs.db        # Windows
*.lnk            # Windows

# Configuraciones de editores de código
.vscode/         # Visual Studio Code
*.suo            # Visual Studio
*.user            # Visual Studio
*.userosscache   # Visual Studio
*.sln.docstates  # Visual Studio

# Dependencias
node_modules/
bower_components/
vendor/

# Directorios de build y distribución
dist/
build/
target/
out/

# Archivos de entorno
.env
.env.*

# Archivos de configuración locales o secretos
*.local
secret.config
config/

# Caches
cache/
*.cache

# Cobertura de código
coverage/

# Documentación generada
docs/

# Traducciones
locales/

# Bases de datos locales
db.sqlite
*.db

# Herramientas de control de versiones adicionales
.gitmodules
.git/modules/